src/test/resources/xml-serialisation/schema/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="TopLevel" type="Document">
    </xs:element>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="Attr" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>
